body {
    overflow-x: hidden;
}

.transition-fade {
    opacity: 1;
    transition: 400ms;
    transform: translateX(0);
    transform-origin: left;
}

html.is-animating .transition-fade {
    opacity: 1;
    transform: translateX(100%);
}

html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateX(0);
}

.transition-bottom {
    transition: 500ms;
    transform: translateY(0);
  }
  
html.is-animating .transition-bottom {
    transform: translateY(100px);
    opacity: 0;
  }

  html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateX(0);
}